@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	background-color: white;
}

body {
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	font-size: 16px;
	color: lightslategray;
	text-decoration: none;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px;
}
.main {
	width: 100%;
	height: auto;
	margin: auto;
	padding: 25px;
	border: 1px;
}
img.logo {
	width: 300px;
	height: 150px;
	margin-right: auto;
	margin-left: auto;
	display: block;
	cursor: pointer;
}
.navbar {
	margin-left: auto;
	margin-right: auto;
	list-style: none;
	text-align: center;
	padding: 25px;
}
.navbar li {
	display: inline-block;
	padding: 0px 20px;
	text-decoration: none;
	color: lightgoldenrodyellow;
}

.navbar li a:visited {
	text-decoration: none;
}
.navbar li a:link {
	text-decoration: none;
}
.navbar li a:hover {
	margin-left: auto;
	margin-right: auto;
	color: lightskyblue;
	text-decoration: underline;
}

.coffee {
	max-width: 70%;
	height: auto;
	border-radius: 8px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

/* Footer */
footer {
	width: 100%;
	padding: 20px;
}

.footer {
	border-top: 0.05rem solid grey;
	text-align: center;
	padding: 20px;
	color: black;
}
